volume: "/testdata/svi6/ospf/"
mapping: "/etc/frr"
routers:
- hostname: H1
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net0port0"}}
    address:
      - 2001:db8:1::2/64
    vlan: 10
  - name: dummy0
    address:
      - 2001:db8:0:192::1/128
- hostname: H2
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net1port0"}}
    address:
      - 2001:db8:1::3/64
  - name: dummy0
    address:
      - 2001:db8:0:192::2/128
- hostname: R1
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - kind: bridge
    name: br0
    address:
      - 2001:db8:1::1/64
  - name : {{index . "net2port0"}}
    address:
      -  2001:db8:2::1/64
  - name: dummy0
    address:
      - 2001:db8:1:192::1/128
  lowers:
    br0:
    - name: {{index . "net0port1"}}
      vlan: 10
    - name: {{index . "net1port1"}}
- hostname: R2
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net2port1"}}
    address:
      - 2001:db8:2::2/64
  - name: {{index . "net3port0"}}
    vlan: 30
    address:
      - 2001:db8:3::2/64
  - name: dummy0
    address:
      - 2001:db8:1:192::2/128
- hostname: H3
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net3port1"}}
    vlan: 30
    address:
      - 2001:db8:3::3/64
  - name: dummy0
    address:
      - 2001:db8:0:192::3/128
