volume: "/testdata/frr6/ospf/"
mapping: "/etc/frr"
routers:
- hostname: R1
  image: "platinasystems/frrouting:7.2.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net2port1"}}
    address:
      - 2001:db8:0:120::5/64
  - name: {{index . "net0port0"}}
    address:
      - 2001:db8:0:150::5/64
- hostname: R2
  image: "platinasystems/frrouting:7.2.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net2port0"}}
    address:
      - 2001:db8:0:120::10/64
  - name: {{index . "net1port0"}}
    address:
      - 2001:db8:0:222::10/64
- hostname: R3
  image: "platinasystems/frrouting:7.2.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net3port0"}}
    address:
      - 2001:db8:0:111::2/64
  - name: {{index . "net1port1"}}
    address:
      - 2001:db8:0:222::2/64
- hostname: R4
  image: "platinasystems/frrouting:7.2.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net3port1"}}
    address:
      - 2001:db8:0:111::4/64
  - name: {{index . "net0port1"}}
    address:
      - 2001:db8:0:150::4/64
