volume: "/testdata/svi/ospf/"
mapping: "/etc/frr"
routers:
- hostname: H1
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net0port0"}}
    address:
      - 1.0.0.2/24
    vlan: 10
  - name: dummy0
    address:
      - 192.168.0.1/32
- hostname: H2
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net1port0"}}
    address:
      - 1.0.0.3/24
    vlan: 20
  - name: dummy0
    address:
      - 192.168.0.2/32
- hostname: R1
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: br0
    isbridge: true
    address:
      - 1.0.0.1/24
  - name: {{index . "net0port1"}}
    upper: br0
    vlan: 10
  - name: {{index . "net1port1"}}
    upper: br0
    vlan: 20
  - name : {{index . "net2port0"}}
    address:
      -  2.0.0.1/24
  - name: dummy0
    address:
      - 192.168.1.1/32      
- hostname: R2
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net2port1"}}
    address:
      - 2.0.0.2/24
  - name: {{index . "net3port0"}}
    address:
      - 3.0.0.2/24
  - name: dummy0
    address:
      - 192.168.1.2/32      
- hostname: H3
  image: "platinasystems/frrouting:7.3.1"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net3port1"}}
    address:
      - 3.0.0.3/24
  - name: dummy0
    address:
      - 192.168.0.3/32
